@media (max-width: 800px) {
  .card- {
    background-color: rgba(199, 255, 96, 0.705);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-bottom: 30px;
    height: 600px;
  }
  .menuResponsivoButton {
    display: block;
  }
  .menu {
    display: none;
    position: fixed;
  }
  .card- {
    font-size: 1.2rem;
  }
  .form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(202, 255, 142, 0.705);
    padding: 20px;
    width: 60%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-bottom: 30px;
    border-radius: 30px;
  }
}
@media (max-width: 600px) {
  .logoAndTitle {
    margin-left: 0;
  }
  .logoAndTitle img {
    height: 52px;
    width: 60px;
  }
  body {
    font-size: 14px;
  }
  header {
    font-size: 1rem;
  }
  .menu {
    display: none;
    position: fixed;
  }
  .titulo {
    width: 100%;
    font-size: 1.5rem;
  }
  .menuResponsivoButton {
    display: block;
  }

  .card- {
    background-color: rgba(199, 255, 96, 0.705);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-bottom: 30px;
    height: 550px;
  }
}

@media (max-width: 700px) {
  .menu {
    display: none;
    position: fixed;
  }
  .titulo {
    width: 100%;
    font-size: 1.5rem;
  }
  .menuResponsivoButton {
    display: block;
    margin-right: 30px;
  }
  .titulo {
    width: 100%;
    font-size: 7.2rem;
  }
  .titulo h1 {
    font-size: 5rem;
  }
  .logoAndTitle img {
    height: 52px;
    width: 60px;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    gap: 30px;
  }
  .footer-section {
    min-width: unset;
    margin: 15px 0;
  }
  .footer-section h3,
  .footer-section h4 {
    margin-bottom: 6px;
    font-size: 1.1rem;
  }
  .footer-bottom {
    font-size: 13px;
    padding-top: 8px;
  }
}

@media (max-width: 400px) {
    .card- {
    font-size: 0.7rem;
  }
  .card-list .card-item .card {
    height: 600px;
    width: 100%;
    user-select: none;
    display: block;
    background-color: rgba(5, 129, 5, 0.705);
    padding: 18px;
    border-radius: 12px;
    color: white;
  }
  .card-list .card-item .Card-Image {
    height: 30%;
    width: 100%;
    border-radius: 12px;
  }
  .titulo {
    width: 100%;
    font-size: 2.2rem;
  }
}
